<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr" th:fragment="frag-layout(title, content, resource)">
<!-- th:fragment => on donne un nom au doc. On lui ajoute un ou des paramètre(s) ici title, content et resource  -->
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <th:block th:replace="${resource} ?: ~{}"></th:block>
    <!-- Ici on remplace resource par l'élément renvoyé par le fichier qui appelera ce paramètre -->
</head>
<body>
    <main th:replace="${content}"></main> <!-- on appelle le paramètre content -->

    <div th:replace="~{fragments/fragment-footer :: frag-footer}"></div> <!-- code qui permet récupérer notre frag-footer qui contient le footer -->
</body>
</html>