<!DOCTYPE html>
<!-- th:fragment => Nom du layout
On lui ajoute un ou plusieurs paramètre(s). Ici: title,nav, content et resource  -->
<html xmlns:th="http://www.thymeleaf.org" lang="fr" th:fragment="frag-layout(title, content, resource)">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title th:replace="${title}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" data-th-href="@{/css/general.css}">

    <!--Appel d'une ressource externe, souvent un fichier css -->
    <th:block th:replace="${resource} ?: ~{}">

    </th:block>
</head>

<body>
    <!-- Appel du fragment en-tête -->
    <header th:replace="~{fragments/fragment-header :: frag-header}"></header>

    <!-- Appel du contenu principal -->
    <main th:replace="${content}"></main>

    <!-- Appel du fragment pied de page -->
    <footer th:replace="~{fragments/fragment-footer :: frag-footer}"></footer>
</body>
</html>