@charset "UTF-8";

* {
	/*margin: 0;*/
	padding: 0;
	font-family: Tahoma, serif;
}

header{
	padding: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#nav-title {
	margin-right: auto;
}

h1{
	text-align: center;
	margin-bottom: 50px;
}

.nav-link {
	font-size: 1.4em;
}
main {
	margin: 10%;
	/*margin-top: 15px;
	margin-left: 15px;*/
}

.vente {
	width: 70%;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.box{
	width: 250px;
	height: 250px;
	border: 1px solid darkblue;
	border-radius: 2px;
}

form {
	margin: auto;
	width: 30%;
}


footer{
	text-align: center;
}


