@charset "UTF-8";

* {
	/*margin: 0;*/
	padding: 0;
	font-family: Tahoma, serif;
}

#nav-title {
	margin-right: auto;
}

.nav-link {
	font-size: 1.4em;
}
main {
	margin: 0 auto;
	/*margin-top: 15px;
	margin-left: 15px;*/
}

.vente {
	width: 70%;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.box{
	width: 250px;
	height: 250px;
	border: 1px solid darkblue;
	border-radius: 2px;
}

.title-index{
	margin-bottom: 20px;
}

.registration-form {
	width: 87%;
	margin-left: 46%;
}

.registration-form input{
	width: 240px;
}

.div-registration-button{
	margin-left: 18%;
}

.profile-form{
	width: 48%;
	margin-left: 19%;
}

.div-profile-button{
	margin-left: 7%;
}

.create-article-form{
	margin-left: 25%;
}

.div-create-article-button{
	margin-left: 16%;
}

footer{
	text-align: center;
}


