<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr" data-th-replace="~{layout/layout :: frag-layout(title=~{:: title},
														content=~{:: main},
														resource=~{})}">
<head>
    <title>ENI Enchères - Accueil</title>
</head>
<body>
    <main>
        <p data-th-text="${#ctx.session.currentUser != null} ? ${#ctx.session.currentUser.nom} : 'Non connecté!'"/>
        <section>
            <h1 class="title is-2 has-text-centered">Bienvenue sur l'application ENI - Enchères </h1>
        </section>
        <section class="vente">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </section>
    </main>
</body>
</html>