<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr" th:replace="~{layout/layout :: frag-layout(
                                        title=~{:: title},
                                        nav=~{:: header},
                                        content=~{:: .center-main},
                                        resource=~{:: #ressource-css})}">
<head>
    <title>ENI-Enchères</title>
	<th:block id="ressource-css">
		<link rel="stylesheet" data-th-href="@{/css/style.css}" />
	</th:block>
</head>
<body>
	<header xmlns:th="http://www.thymeleaf.org" th:fragment="frag-header">
		<nav class="navbar" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<h1 id="navbar-item"><a th:href="@{/encheres}">ENI-Encheres</a></h1>
				<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>
			<div class="navbar-end">
				<div class="navbar-item">
					<div class="buttons">
						<a th:if="${#authorization.expression('isAuthenticated()')}" th:each="user : ${users}" th:href="@{/encheres/profile(id=${user.noUtilisateur})}">Profil</a>
					</div>
					<div class="buttons" th:if="${!#authorization.expression('isAuthenticated()')}">
						<a th:href="@{/login}">Connexion - S'inscrire</a>
					</div>
					<div class="buttons" th:if="${#authorization.expression('isAuthenticated()')}">
						<a th:href="@{/logout}">Déconnexion</a>
					</div>
				</div>
			</div>
			</div>
		</nav>
	</header>

    <main class="center-main">
    <h1 style="text-align:center;">Liste des enchères</h1>
        <section>
            <div>
	            <p>Filtres :</p>
	            <input type="search" id="site-search" name="recherche" placeholder="Le nom de l'article contient"/>
	            <br>
	            <label for="categorie">Catégorie :</label>	           
	            <select id="categorie">
	            	<option>Toutes</option>
	            	<option>Informatique</option>
	            	<option>Ameublement</option>
	            	<option>Vêtement</option>
	            	<option>Sport & Loisir</option>
	            </select>
				<button class="transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300" type="submit">Rechercher</button>
            </div>
        </section>
        <section>
        	<div class="articlesVendus">
        		<figure class="figures">
   					<img th:src="@{images/square01.png}" alt="square">
        			<figcaption>
        				<h3>Un exemple à vendre</h3>
        				<p>Ici seront les div dynamiques de tous les articles en vente.</p>
        			</figcaption>
        		</figure>
        	</div>
        </section>
    </main>
</body>
</html>