<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		data-th-replace="~{layout/layout :: frag-layout(title=~{:: title},
														nav=~{:: header},
														content=~{:: .center-main},
														resource=~{:: #ressource-css})
										}">
<head>
<title>ENI-Enchères</title>
<th:block id="ressource-css">
	<link rel="stylesheet" data-th-href="@{/css/login-form.css}">
	<link rel="stylesheet" data-th-href="@{/css/general.css}" />
</th:block>
</head>
<body>
	<header xmlns:th="http://www.thymeleaf.org" th:fragment="frag-header">
		<nav class="navbar" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<h1 id="navbar-item"><a th:href="@{/encheres}">ENI-Encheres</a></h1>
				<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>
			<div class="navbar-end">
				<div class="navbar-item">
					<div class="buttons">
						<a th:if="${#authorization.expression('isAuthenticated()')}" th:each="user : ${users}" th:href="@{/encheres/profile(id=${user.noUtilisateur})}">Profil</a>
					</div>
					<div class="buttons" th:if="${!#authorization.expression('isAuthenticated()')}">
						<a th:href="@{/login}">Connexion - S'inscrire</a>
					</div>
					<div class="buttons" th:if="${#authorization.expression('isAuthenticated()')}">
						<a th:href="@{/logout}">Déconnexion</a>
					</div>
				</div>
			</div>
			</div>
		</nav>
	</header>
	<main class="center-main">
	<div class="grid-container">
		<form data-th-action="@{/login}" method="post">
			<ul class="item1">
				<li>
					<label for="inputUser">Identifiant :</label>
					<input id="inputUser" type="text" name="username" />
				</li>
				<li>
					<label for="inputPwd">Mot de passe :</label>
					<input id="inputPwd" type="password" name="password" />
				</li>
			</ul>
			<button class="btn item2" type="submit">Connexion</button>
			<div class="item3" style="display: none;">
				<input type="checkbox" id="souvenir" name="souvenir"/>
				<label for="souvenir">Se souvenir de moi</label>
				<a href="">Mot de passe oublié</a>
			</div>
		</form>
		<a th:href="@{/signin}">Créer un compte</a>
	</div>
	</main>	
</body>
</html>