<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr" data-th-replace="~{layout/layout :: frag-layout(title=~{:: title},
														content=~{:: main},
														resource=~{})}">
<head>
    <title>Connexion - Inscription</title>
</head>
<body>
	<main class="is-flex is-flex-direction-column is-justify-content-center mb-5">
		<h1 class="title is-2 has-text-centered">Se connecter</h1>
		<form th:action="@{/login}" method="post" class="my-0 mx-auto">
			<p th:if="${loginError}" class="error">Erreur utilisateur et/ou du mot de passe</p>
			<div class="field mb-5">
				<label class="label" for="username">Identifiant :</label>
				<div class="control has-icons-left">
					<input class="input" id="username" name="username" type="text" placeholder="Votre pseudo">
					<span class="icon is-small is-left">
				  <i class="fas fa-user"></i>
				</span>
				</div>
			</div>
			<div class="field">
				<label class="label" for="password">Mot de passe :</label>
				<div class="control has-icons-left">
					<input class="input" id="password" name="password" type="password" placeholder="Votre mot de passe">
					<span class="icon is-small is-left">
				 <i class="fa-solid fa-lock"></i>
				</span>
				</div>
			</div>
			<div class="is-grouped is-flex is-justify-content-center">
				<div class="control">
					<button class="button has-background-link has-text-white has-text-weight-semibold" type="submit">Se connecter</button>
				</div>
				<div class="control">
					<a data-th-href="@{/signin}" class="button has-background-link has-text-white ml-3 has-text-weight-semibold is-family-sans-serif">Créer un compte</a>
				</div>
			</div>
		</form>
	</main>	
</body>
</html>