<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr" th:replace="~{layout/layout :: frag-layout(
                                        title=~{:: title},
                                        nav=~{:: header},
                                        content=~{:: .center-main},
                                        resource=~{})}">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
</head>
<body>
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <div class="navbar-item">
                    <a th:href="@{/encheres}" class="is-size-4 has-text-weight-bold">ENI-Encheres</a>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item" th:if="${#authorization.expression('isAuthenticated()')}">
                    <div class="buttons">
                        <a  class="is-size-5" th:each="user : ${users}" th:href="@{/encheres/profile(id=${user.noUtilisateur})}">Profil</a>
                    </div>
                </div>
                <div class="navbar-item" th:if="${#authorization.expression('isAuthenticated()')}">
                    <div class="buttons">
                        <a  class="is-size-5" th:href="@{/encheres/article}">Nouvel Article</a>
                    </div>
                </div>
                <div class="navbar-item" th:if="${!#authorization.expression('isAuthenticated()')}">
                    <div class="buttons">
                        <a th:href="@{/login}" class="is-size-5">Connexion - S'inscrire</a>
                    </div>
                </div>
                <div class="navbar-item" th:if="${#authorization.expression('isAuthenticated()')}">
                    <div class="buttons">
                        <a th:href="@{/logout}" class="is-size-5">Déconnexion</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="center-main">
        <h1 class="title is-2 has-text-centered">Bienvenue sur le profil</h1>
    </main>
</body>
</html>