<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-th-replace="~{layout/layout :: frag-layout(title=~{:: title},
														content=~{:: main},
														resource=~{})}">
<head>
    <title>Mon profil</title>
</head>

<body>
    <main class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center mb-5">
        <h1 class="title is-2 has-text-centered">Mon profil</h1>
        <form class="profile-form" data-th-action="@{/encheres/profile}" method="post">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="pseudo"> Pseudo: </label>
                </div>
                <div class="field-body">
                    <div class="is-narrow">
                        <div class="control mb-2">
                            <input class="input is-info" type="text" id="pseudo" name="pseudo" th:value="${#ctx.session.currentUser.pseudo}" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="lastName" > Nom: </label>
                </div>
                <div class="field-body">
                    <div class="is-narrow">
                        <div class="control mb-2">
                            <input class="input is-info" type="text" id="lastName" name="lastName" th:value="${#ctx.session.currentUser.nom}" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="firstName"> Prénom: </label>
                </div>
                <div class="field-body">
                    <div class="is-narrow">
                        <div class="control mb-2">
                            <input class="input is-info" type="text" id="firstName" name="firstName" th:value="${#ctx.session.currentUser.prenom}" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="email"> Email: </label>
                </div>
                <div class="field-body">
                    <div class="is-narrow">
                        <div class="control mb-2">
                            <input class="input is-info" type="email" id="email" name="email" th:value="${#ctx.session.currentUser.email}" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="phoneNumber"> Téléphone: </label>
                </div>
                <div class="field-body">
                    <div class="is-narrow">
                        <div class="control mb-2">
                            <input class="input is-info" type="tel" id="phoneNumber" name="phoneNumber" th:value="${#ctx.session.currentUser.telephone}" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="libelleRue">Rue: </label>
                </div>
                <div class="field-body">
                    <div class="is-narrow">
                        <div class="control mb-2">
                            <input class="input is-info" type="text" id="libelleRue" name="libelleRue" th:value="${#ctx.session.currentUser.rue}" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="codePostal"> Code postal: </label>
                </div>
                <div class="field-body">
                    <div class="is-narrow">
                        <div class="control mb-2">
                            <input class="input is-info" type="text" id="codePostal" name="codePostal" th:value="${#ctx.session.currentUser.codePostal}" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="ville"> Ville: </label>
                </div>
                <div class="field-body">
                    <div class="is-narrow">
                        <div class="control mb-2">
                            <input class="input is-info" type="text" id="ville" name="ville" th:value="${#ctx.session.currentUser.ville}" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="control">
                <a data-th-href="@{/encheres/profile/update(id=${#ctx.session.currentUser.noUtilisateur})}" class="button has-background-link has-text-white ml-3 has-text-weight-semibold">Modifier mes infos</a>
            </div>
        </form>
    </main>
</body>
</html>